html, body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    background: linear-gradient(90deg, #672280, #A626D3);
    font-family: 'Karla', Courier, monospace;
    color: white;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-right {
    font-size: 20px;
}

.nav-title {
    font-size: 30px;
    font-weight: 700;
}

.troll-face {
    height: auto;
    width: 90px;
}

